@media screen and (max-width: 1200px) {
    #humburger {
        display: block;
    }
    #secondary-nav.sticky{
        height: 60px;
    }
    #secondary-nav *{
        display: none;
    }

#secondary-nav.sticky .logo {
    display: block;
    margin-left: 25px;
    letter-spacing: 8px;
    line-height: 60px;
    font-size: 10px;
}

    #primary-nav {
        display: none;
    }
    .welcome {
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        top: 50%;
    }
    .welcome h3 {
        max-width: 80%;
    }
    #features .content {
        top: 76px;
        bottom: 76px;
        transform: translateY(-0%);
        -webkit-transform: translateY(-0%);
        -moz-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
    }
}


/* ----------- Tablet ----------- */


/* Portrait and Landscape */

@media only screen and (max-width: 1024px) {
    #wrapper > section .inner {
        position: static;
    }
    .section-title {
        font-size: 31px;
    }
    #auction .table {
        font-size: 12px;
    }
    #agent ul {
        position: static;
        float: none;
        margin-top: 98px;
    }
    #agent .avatar {
        float: none;
    }
    #agent .content.flex-center {
        width: 222px;
    }
}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}


/* ----------- Mobile ----------- */


/* Portrait and Landscape */

@media screen and (max-width: 568px) {
    .modal-content{

    }
    .modal-content img{
        width: 100%;
    }
    .modal-body .close{
        width: 30px;
        height: 30px;
        right: 5px;
        top: 5px;
    }
    #auction .table td {
        padding-right: 0;
    }
    #auction .table td:last-child {
        padding-left: 14px;
    }
    #auction .table .add-btn {
        width: 28px;
    }
    #auction .table .icon {}
    #auction .table .label {
        padding: 0;
    }
    #agent {
        padding-top: 50px;
    }
    #editTools {
        display: none;
    }
    .welcome {
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 80%;
        top: 45%;
    }
    .welcome h1 {
        font-size: 34px;
        margin-bottom: 25px;
    }
    .welcome h3 {
        font-size: 12px;
        margin-bottom: 27px;
    }
    #home .feature-list {
        top: auto;
        bottom: 100px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        left: 50%;
        right: auto;
        width: 100%;
        height: 77px;
    }
    .scroll-explore {
        left: 46%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    #home .feature-list li {
        width: 33.33333333%;
        height: 100%;
        text-align: center;
    }
    .feature-list .icon {
        margin-top: 0;
    }
    .feature-list .name {
        bottom: 19px;
        font-size: 8px;
        letter-spacing: 4px;
    }
    .half {
        width: 100%;
        position: static;
        float: none;
        clear: both;
    }
    #auction .half {
        position: relative;
    }
    #auction .content {
        position: static;
        transform: translate(0);
        padding: 30px;
        padding-top: 41px;
    }
    #features .half.first {
        height: auto;
    }
    #wrapper > section {
        min-height: 100%;
        /* min-height: 100vh; */
        height: auto;
    }
    #features {
        background: black;
    }
    #features .box {
        position: static;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        width: 100%;
    }
    #features .content {
        position: static;
        padding: 30px;
    }
    #location .half,
    #location .box {
        position: static;
    }
    #location .box {
        width: 100%;
        transform: translate(0);
    }
    #location .box ul {
        margin-top: 0;
        padding-top: 41px;
    }
    #map {
        height: 250px;
    }
    #location .half .content {
        position: static;
        transform: translate(0);
        padding: 30px;
        padding-top: 41px;
    }
    #agent .content.flex-center {
        position: static;
        transform: translate(0);
        width: 100%;
    }
    #agent ul {
        text-align: center;
    }
    #agent .half:nth-child(2) .flex-center-y {
        transform: translate(0);
        width: 100%;
        position: static;
        padding: 30px;
        padding-top: 41px;
    }
    #agent .quote {
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    #auction .half .flex-center-y {
        transform: translate(0);
        position: static;
        padding: 30px;
    }
    #contact .row {
        width: 90%;
        margin: 0 auto;
    }
    #contact .socials {
        margin-top: 40px;
        text-align: center;
        display: block;
    }
    #contact .socials h4 {
        margin-bottom: 30px;
    }
    #contact img.logo {
        margin-bottom: 30px;
    }
    #contact p {
        font-family: Lato-Regular;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.9px;
        margin-bottom: 20px;
    }
    #auction .table tr td:nth-child(3) {
        display: none;
    }
    .scroll-explore .label {
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    #home .feature-list {
        bottom: 56px;
    }
    .scroll-explore {
        bottom: 22px;
    }
}


/* Landscape */

@media only screen and (max-device-width: 667px) and (orientation: landscape) {}
