/*---------------------------------*
 * Color
 *--------------------------------/
/**
 * Feature colour 0: black;
 */

.theme-color-0 #features,
.theme-color-0 #gallery,
.theme-color-0 #location {
    color: black;
    border-color: black;
}

.theme-color-0 .actions .icon,
.theme-color-0 #secondary-nav
{
    background-color: black;
}

.theme-color-0 #agent {
    color: white;
    border-color: white;
}


/**
 * Feature colour 1: #C98C49;
 */

.theme-color-1 #features,
.theme-color-1 #gallery,
.theme-color-1 #auction,
.theme-color-1 #location,
.theme-color-1 #agent,
.theme-color-1 .welcome h1,
.theme-color-1 .feature-list .icon,
.theme-color-1 #home nav li a.active,
.theme-color-1 #home nav li a:hover,
.theme-color-1 .icon,
.theme-color-1 .section-title,
.theme-color-1 #features .house-feature h4,
.theme-color-1 #auction .table td > span {
    color: #C98C49;
    border-color: #C98C49;
}

.theme-color-1 .have-theme-color {
    color: #C98C49 !important;
}

.theme-color-1 #features .box .first .icon,
.theme-color-1 #location .box .icon {
    color: #FFFFFF;
}

.theme-color-1 #features .box .last li div {
    color: #000000;
}

.theme-color-1 nav .register,
.theme-color-1 #home nav ul {
    border-color: #C98C49;
}

.theme-color-1 #features .box .first,
.theme-color-1 #secondary-nav,
.theme-color-1 #location .box {
    background-color: #C98C49;
}


/**
 * Feature colour 2: #FFFFFF;
 */

.theme-color-2 #features,
.theme-color-2 #gallery,
.theme-color-2 #auction,
.theme-color-2 #location,
.theme-color-2 #agent,
.theme-color-2 .welcome h1,
.theme-color-2 .feature-list .icon,
.theme-color-2 #home nav li a.active,
.theme-color-2 #home nav li a:hover,
.theme-color-2 .icon,
.theme-color-2 .section-title,
.theme-color-2 #features .house-feature h4,
.theme-color-2 #auction .table td > span,
.theme-color-2 #auction .table td,
.theme-color-2 #auction .table .label {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.theme-color-2 .have-theme-color {
    color: #FFFFFF !important;
}

.theme-color-2 #features .box .last {
    background-color: #000000;
    color: white;
}

.theme-color-2 nav .register,
.theme-color-2 #home nav ul {
    border-color: #FFFFFF;
}

.theme-color-2 #secondary-nav,
.theme-color-2 #features .box .first,
.theme-color-2 #location .box,
.theme-color-2 section hr {
    background-color: #FFFFFF;
    color: #000000;
}

.theme-color-2 #features .half:nth-child(1),
.theme-color-2 #location .half,
.theme-color-2 #auction .tint {
    background-color: rgba(0, 0, 0, 0.9);
}


/**
 * Feature colour 3: #75B2CE;
 */

.theme-color-3 #features,
.theme-color-3 #gallery,
.theme-color-3 #auction,
.theme-color-3 #location,
.theme-color-3 #agent,
.theme-color-3 .welcome h1,
.theme-color-3 .feature-list .icon,
.theme-color-3 #home nav li a.active,
.theme-color-3 #home nav li a:hover,
.theme-color-3 .icon,
.theme-color-3 .section-title,
.theme-color-3 #features .house-feature h4,
.theme-color-3 #auction .table td > span {
    color: #75B2CE;
    border-color: #75B2CE;
}

.theme-color-3 .have-theme-color {
    color: #75B2CE !important;
}

.theme-color-3 #features .box .first .icon,
.theme-color-3 #location .box .icon {
    color: #FFFFFF;
}

.theme-color-3 #features .box .last li div {
    color: #000000;
}

.theme-color-3 nav .register,
.theme-color-3 #home nav ul {
    border-color: #75B2CE;
}

.theme-color-3 #secondary-nav,
.theme-color-3 #features .box .first,
.theme-color-3 #location .box {
    background-color: #75B2CE;
}

.theme-color-3 #auction .content p {
    color: #000000 !important;
}


/**
 * Feature colour 4: #E4C1B0;
 */

.theme-color-4 #features,
.theme-color-4 #gallery,
.theme-color-4 #auction,
.theme-color-4 #location,
.theme-color-4 #agent,
.theme-color-4 .welcome h1,
.theme-color-4 .feature-list .icon,
.theme-color-4 #home nav li a.active,
.theme-color-4 #home nav li a:hover,
.theme-color-4 .icon,
.theme-color-4 .section-title,
.theme-color-4 #features .house-feature h4,
.theme-color-4 #auction .table td > span {
    color: #E4C1B0;
    border-color: #E4C1B0;
}

.theme-color-4 .have-theme-color {
    color: #E4C1B0 !important;
}

.theme-color-4 #features .box .first .icon,
.theme-color-4 #location .box .icon {
    color: #FFFFFF;
}

.theme-color-4 #features .box .last li div {
    color: #000000;
}

.theme-color-4 nav .register,
.theme-color-4 #home nav ul {
    border-color: #E4C1B0;
}

.theme-color-4 #secondary-nav,
.theme-color-4 #features .box .first,
.theme-color-4 #location .box {
    background-color: #E4C1B0;
}

.theme-color-4 #auction .content p {
    color: #000000 !important;
}


/*---------------------------------*
 * Background
 *--------------------------------/
/**
 * Background colour 1: white;
 */

.theme-bg-1 {
    background-color: white;
}

.theme-bg-1 .content {
    color: black;
}
.theme-bg-1 #secondary-nav {
    color: white;
}
.theme-bg-1 #secondary-nav .register {
    border-color: white;
}
.theme-bg-1 #location .half{
    background-color: rgba(255,255,255,0.9);
}
/**
 * Background colour 2: black;
 */

.theme-bg-2,
.theme-bg-2 #features .box .last,
.theme-bg-2 #auction hr
 {
    background-color: black;
}
.theme-bg-2 #auction .section-title{
	border-color: black;
}
.theme-bg-2 #features .half.first, #location .half {
    background-color: rgba(0, 0, 0, 0.8);
}

.theme-bg-2 section hr {
    background-color: #FFFFFF;
}

.theme-bg-2 #secondary-nav {
    color: black;
}
.theme-bg-2 #secondary-nav .register {
    border-color: black;
}

.theme-bg-2 #features .box .last li div {
    color: #FFFFFF;
}

.theme-bg-2 .content,
.theme-bg-2 #auction .table td,
.theme-bg-2 #auction .table td > span,
.theme-bg-2 #auction .table .label,
.theme-bg-2 #auction p {
    color: white;
}

.theme-bg-2 #features .box .first,
.theme-bg-2 #features .box .first .icon,
.theme-bg-2 #location .box ul,
.theme-bg-2 #location .box ul .icon,
.theme-bg-2 #auction .section-title,
.theme-bg-2 #auction .sub-title,
.theme-bg-2 #auction .table .icon {
    color: #000000;
}

.theme-bg-2.theme-color-1 #auction .tint {
    background-color: rgba(201, 140, 73, 0.9);
}

.theme-bg-2.theme-color-4 #auction .table td,
.theme-bg-2.theme-color-4 #auction .table td > span,
.theme-bg-2.theme-color-4 #auction .table .label
{
    color: black;
}
.theme-bg-2.theme-color-4 #auction .tint
{
    background-color: rgba(228,193,176,0.9);
}

.theme-bg-2.theme-color-3 #auction .tint{
    background-color: rgba(117,178,206,0.9);
}
.theme-bg-2.theme-color-3 #auction .content p,
.theme-bg-2.theme-color-2 #auction .section-title,
.theme-bg-2.theme-color-2 #auction .sub-title,
.theme-bg-2 #auction .table .icon,
.theme-bg-2.theme-color-1 .have-theme-color
{
    color: white !important;
}
.theme-bg-2.theme-color-2 #auction hr{
    background-color: white;
}
.theme-bg-2.theme-color-2 #auction .section-title{
    border-color: white;
}
.theme-bg-2.theme-color-1 #auction .table .icon,
.theme-bg-2.theme-color-3 #auction .table .icon,
.theme-bg-2.theme-color-4 #auction .table .icon
{
    color: black !important;
}
