@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?z1qr8j');
    src:    url('fonts/icomoon.eot?z1qr8j#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?z1qr8j') format('truetype'),
        url('fonts/icomoon.woff?z1qr8j') format('woff'),
        url('fonts/icomoon.svg?z1qr8j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-emailsolid:before {
    content: "\e911";
}
.icon-phone:before {
    content: "\e912";
}
.icon-council:before {
    content: "\e90f";
}
.icon-waterdrop:before {
    content: "\e910";
}
.icon-arrowdown:before {
    content: "\e900";
}
.icon-arrowup:before {
    content: "\e901";
}
.icon-bathtub:before {
    content: "\e902";
}
.icon-bed:before {
    content: "\e903";
}
.icon-book:before {
    content: "\e904";
}
.icon-calendar:before {
    content: "\e905";
}
.icon-car:before {
    content: "\e906";
}
.icon-document:before {
    content: "\e907";
}
.icon-email:before {
    content: "\e908";
}
.icon-floorplan:before {
    content: "\e909";
}
.icon-marker .path1:before {
    content: "\e90a";
    color: rgb(0, 0, 0);
}
.icon-marker .path2:before {
    content: "\e90b";
    margin-left: -0.69140625em;
    color: rgb(255, 255, 255);
}
.icon-marker .path3:before {
    content: "\e90c";
    margin-left: -0.69140625em;
    color: rgb(255, 255, 255);
}
.icon-shop:before {
    content: "\e90d";
}
.icon-transport:before {
    content: "\e90e";
}

